.App {
	text-align: center;
}

.Button {
	background-color: green;
	color: white;
	font: inherit;
	border: 1px solid blue;
	padding: 8px;
	cursor: pointer;
}

.Cancel {
	background-color: red;
	color: white;
}
